@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}
* {
  font-family: inherit;
}
:root {
  --color-red: #d4494c;
}

.hero {
  background-image: url("../public/assets/hero-bg.png");
  background-size: auto;
  background-position-x: 40%;
  background-repeat: no-repeat;
}

.card {
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 24px 20px 36px rgba(23, 58, 110, 0.11);
}

.aquamarine-path {
  background-image: url("../public/assets/aquamarine-path.png");
  background-position: center center;
  height: 515px;
}

.wave-path {
  background-image: url("../public/assets/waves-path.png");
  background-position: center center;
  height: 288px;
}

.footer h2 {
  color: #ffffff;
}

.hero-btn {
  box-shadow: 0px 5px 29px rgba(250, 15, 20, 0.61);
}

.consultant_wrapper {
  background: linear-gradient(#2e5f86 50%, #233454 50%);
}

.consultant_container {
  background-image: url("../public/assets/sand-layer-front.png"),
    url("../public/assets/sand-layer-back.png");
  background-repeat: no-repeat;
  background-position: 0 550px, 0 430px;
}

@media screen and (min-width: 572px) {
  .consultant_container {
    background-position: 0 500px, 0 430px;
  }
}

@media screen and (min-width: 1024px) {
  .consultant_wrapper {
    height: 500px;
  }
  .consultant_container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    background-position: 0 210px, 0 190px;
    background-repeat: repeat-x;
  }
  .consultant_container .treasure-box {
    align-self: ;
  }
  .consultant_container {
    padding-bottom: 2rem;
  }
}
